:root {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Clash Grotesk', sans-serif;
}

center {
  transform: translate(-50%);
}

.disabled {
  pointer-events: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

@keyframes bounce {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}